* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
}

/* Container utama */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar kiri */
.sidebar {
    width: 220px;
    background: #f5c400;
    padding: 20px;
}

/* Logo */
.logo {
    width: 80px;
    display: block;
    margin-bottom: 30px;
}

/* Menu */
.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
}

/* Konten */
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Box form */
.form-box {
    width: 350px;
    text-align: center;
}

.form-box h2 {
    margin-bottom: 20px;
    font-weight: normal;
}

/* Input */
.form-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Tombol */
.form-box button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
}

.form-box button:hover {
    background: #ddd;
}
